In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('G:\\내 드라이브\\Watching_You_PJ\\project_ChatBot\\02_preprocessing\\01_001_Cleaned_Data.csv')

df_len  = len(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7168 entries, 0 to 7167
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SPEAKER   7168 non-null   object
 1   SENTENCE  7168 non-null   object
 2   MAIN      7168 non-null   object
 3   QA        7168 non-null   object
dtypes: object(4)
memory usage: 224.1+ KB

In [3]:
df

     SPEAKER                                 SENTENCE   MAIN QA
0         고객                             아이스아메리카노 하나요   일반주문  Q
1         점원                             테이크아웃하실 건가요?   일반주문  Q
2         고객                             네 텀블러에 넣어주세요  텀블러사용  Q
3         점원                        텀블러 할인 300원 해드릴게요  텀블러사용  A
4         고객                             그란데 사이즈로 주세요   일반주문  Q
...      ...                                      ...    ... ..
7163      점원                             현금 영수증 맞으세요?  영수증요청  Q
7164      고객                            아니요, 그냥 영수증이요  영수증요청  A
7165      점원                               네, 여기 드릴게요  영수증요청  A
7166      고객                         차는 어디에 세울 수 있어요?   주차문의  Q
7167      점원  주차장은 따로 없고 타워 맞은편 주차 라인이나 상가 앞에 세우셔야 해요   주차문의  A

[7168 rows x 4 columns]

In [4]:
df3 = []
df3_2 = []

for i in range(0,df_len,2):
    a = df.iloc[i]
    df3.append(a)
for i in range(1,df_len,2):
    b = df.iloc[i]
    df3_2.append(b)

df4 = pd.DataFrame(df3)
q = df4['SENTENCE'].tolist()
c = df4['MAIN'].tolist()

df4_1 = pd.DataFrame(df3_2)
a = df4_1['SENTENCE'].tolist()

df_result = pd.DataFrame()

df_result['Q'] = q
df_result['A'] = a
df_result['C'] = c

df_result

,Q,A,C
0,아이스아메리카노 하나요,테이크아웃하실 건가요?,일반주문
1,네 텀블러에 넣어주세요,텀블러 할인 300원 해드릴게요,텀블러사용
2,그란데 사이즈로 주세요,적립카드 있으세요?,일반주문
3,네 보고쿠폰으로 결제할게요,현금영수증 해드릴까요?,쿠폰멤버십적립문의
4,괜찮습니다,저쪽에서 잠시만 대기해주세요,현금영수증요청
...,...,...,...
3579,약간 산미 나는 걸로 한 잔 주실래요?,가지고 가시면 2000원이에요,일반주문
3580,마시고 가면 얼마예요?,드시고 가시면 3000원이에요,일반주문
3581,영수증 하나 주실래요?,현금 영수증 맞으세요?,영수증요청
3582,"아니요, 그냥 영수증이요","네, 여기 드릴게요",영수증요청
3583,차는 어디에 세울 수 있어요?,주차장은 따로 없고 타워 맞은편 주차 라인이나 상가 앞에 세우셔야 해요,주차문의

In [5]:
df_result

,Q,A,C
0,아이스아메리카노 하나요,테이크아웃하실 건가요?,일반주문
1,네 텀블러에 넣어주세요,텀블러 할인 300원 해드릴게요,텀블러사용
2,그란데 사이즈로 주세요,적립카드 있으세요?,일반주문
3,네 보고쿠폰으로 결제할게요,현금영수증 해드릴까요?,쿠폰멤버십적립문의
4,괜찮습니다,저쪽에서 잠시만 대기해주세요,현금영수증요청
...,...,...,...
3579,약간 산미 나는 걸로 한 잔 주실래요?,가지고 가시면 2000원이에요,일반주문
3580,마시고 가면 얼마예요?,드시고 가시면 3000원이에요,일반주문
3581,영수증 하나 주실래요?,현금 영수증 맞으세요?,영수증요청
3582,"아니요, 그냥 영수증이요","네, 여기 드릴게요",영수증요청
3583,차는 어디에 세울 수 있어요?,주차장은 따로 없고 타워 맞은편 주차 라인이나 상가 앞에 세우셔야 해요,주차문의

In [6]:

category_list = list(df_result['C'].unique())
print(category_list)
num = []
for i in df_result['C']:
  for k in category_list:
    if i == k:
      num.append(category_list.index(k))
print(len(num))

df_result['num'] = num
df_result.to_csv('G:\\내 드라이브\\Watching_You_PJ\\project_ChatBot\\02_preprocessing\\01_001_gpt.csv',index=False)
df_result

['일반주문', '텀블러사용', '쿠폰멤버십적립문의', '현금영수증요청', '결제요청', '기프티콘쿠폰멤버십사용문의', '남은음료테이크아웃문의', '조리요구', '메뉴추천요구', '기프티콘쿠폰멤버십결제요구', '화장실위치문의', '메뉴문의', '기타문의', '할인요청', '픽업문의', '와이파이문의', '계절메뉴주문문의', '배달문의', '콘센트자리문의', '에스프레소샷개수요구', '재료문의', '쿠폰문의', '자리여부문의', '빵종류문의', '가격문의', '사이즈문의', '테이크아웃요구', '제조시간문의', '사이즈요구', '메뉴추가주문', '텀블러할인문의', '모바일페이결제', '물우유량요구', '영업시간문의', '캐리어요구', '매장내에서일회용사용문의', '1인1잔문의', '특정재료첨삭요구', '테이크아웃문의', '시럽설탕요구', '옵션추가요구', '메뉴추가문의', '주문가능여부문의', '기프티콘쿠폰멤버십메뉴변경문의', '우유변경', '시설문의', '냅킨물티슈요구', '영수증요청', '식기류요구', '매장이용문의', '음식이주문과다른경우', '냉방조절', '얼음량요구', '결제문의', '물품위치문의', '단체주문문의', '주문내용변경', '주차문의', '서빙요구', '할인문의', '특정원두요구', '포인트충전', '주변시설', '늘먹던음료요구', '단골손님임을주장', '음료온도요구', '뜨거운차가운물요구', '머그컵요구', '현금영수증문의', '영수증버리기', '냅킵물티슈요구', '신메뉴문의', '단체석문의', '핸드폰번호이용적립', '메뉴판요구', '핸드폰충전요청', '제조방법', '주차권주차도장요구', '얼음요구', '시식요청', '음식에이물질이있는경우', '화장실비밀번호문의', '분할결제', '일회용컵요구', '화장실휴지비치문의', 'MD제품문의', '주문취소', '리필문의', '빨대', '기프티콘쿠폰멤버실결제요구', '메뉴가나오는것을재촉하는상황', '휴일문의', '더치커피티백판매문의', '계열사문의', '메뉴판문의', '컵요구', '애완견출입문의', '원두인스턴트커피로스팅문의', '일회용포크나이프요구', '카드결제(카드오류상황)', '주문가능여부', '식기류쟁반반납', '휴지요구', '보관방법문의', '화장실이용문의', '영수증문의', '테이크아웃할인문의', '이벤트문의', '물티슈요구', '체인점문의', '음료온도문의', '베이커리제조문의', '인터넷판매문의', '테이크아웃용기요청', '옵션추가문의', '남은커피가루문의', '에스프레소샷개수문의', '테이크아웃용기추가금액문의', '인기메뉴문의', '원두원산지문의', '테이카아웃요구', '샷토핑추가시추가금액문의', '시럽요구', '시럽', '베이커리정보문의', '물물컵', '납품문의', '판매여부문의']
3584

,Q,A,C,num
0,아이스아메리카노 하나요,테이크아웃하실 건가요?,일반주문,0
1,네 텀블러에 넣어주세요,텀블러 할인 300원 해드릴게요,텀블러사용,1
2,그란데 사이즈로 주세요,적립카드 있으세요?,일반주문,0
3,네 보고쿠폰으로 결제할게요,현금영수증 해드릴까요?,쿠폰멤버십적립문의,2
4,괜찮습니다,저쪽에서 잠시만 대기해주세요,현금영수증요청,3
...,...,...,...,...
3579,약간 산미 나는 걸로 한 잔 주실래요?,가지고 가시면 2000원이에요,일반주문,0
3580,마시고 가면 얼마예요?,드시고 가시면 3000원이에요,일반주문,0
3581,영수증 하나 주실래요?,현금 영수증 맞으세요?,영수증요청,47
3582,"아니요, 그냥 영수증이요","네, 여기 드릴게요",영수증요청,47
3583,차는 어디에 세울 수 있어요?,주차장은 따로 없고 타워 맞은편 주차 라인이나 상가 앞에 세우셔야 해요,주차문의,57